body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('background/download.gif'); /* Set default background */
    background-size: cover; /* Cover the entire background */
}
.settings-button{
    position: fixed; /* Position the button */
    top: 579px; /* Adjust the distance from the top */
    right: 760px; /* Adjust the distance from the right */
    width:5px;
    border: none;
    background-color: transparent;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    max-width: 50%;
    max-height: 50%;
}
.settings-button img{
    width: 60px;
    height: 60px;
    z-index: 1;
}
.start-button{
    border-radius: 20px;
    border:none;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    outline: none;
    position: fixed; /* Position the button */
    top: 600px; /* Adjust the distance from the top */
    right: 940px; /* Adjust the distance from the right */
    z-index: 2; /* Ensure the button is above other elements */
    font-family: 'Micro 5', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}
.background-button{
    border-radius: 20px;
    border:none;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    outline: none;
    position: fixed; /* Position the button */
    top: 600px; /* Adjust the distance from the top */
    right: 800px; /* Adjust the distance from the right */
    z-index: 2; /* Ensure the button is above other elements */
    font-family: 'Micro 5', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.background-button{
    text-align: center;

}
.backgrounds {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.backgrounds img {
    position: absolute;
    top: 0;
    left: 0;
    right:50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: fixed;
    display: none;
    background-color: clear;
    min-width: 160px;
    z-index: 2;
    position: fixed; /* Position the button */
    top: 660px; /* Adjust the distance from the top */
    right: 750px; /* Adjust the distance from the right */
    column-count: 1; /* Set to 1 column */
    column-gap: 10px; /* Adjust the gap between columns */
}

.dropdown-content img {
    display: block; /* Display images as blocks */
    width: 100px;
    cursor: pointer;
    margin: 5px;
}

.dropdown-content.active {
    display: block;
}

#dropArea {
    display: inline-block;
    width: 110px;
    height: 56.19px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    z-index: 3;
    color:white;
    text-align: center;
}


